[submodule "themes/amethyst"]
	path = themes/amethyst
	url = https://github.com/64bitpandas/amethyst
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
